table {
  width: cal(100vw - 10px);
  height: calc(100vh - 20px);
    border: 1px solid #ddd;
    }
.center {
  margin-left: auto;
  margin-right: auto;
  }
.TopRow {
  height:  20vh, 
    text-align: center;
  }
.MidRow {
  text-align: center;
  height:  60%; 
  vertical-align: middle;
  } 
.BotRow {
  text-align: center;
  height:  20%; 
  } 